Source: swh-search
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-all,
               python3-click,
               python3-elasticsearch,
               python3-pytest,
               python3-pytest-mock,
               python3-setuptools,
               python3-setuptools-scm,
               python3-tree-sitter,
               python3-swh.core,
               python3-swh.journal,
               python3-swh.indexer,
               python3-swh.model,
               elasticsearch
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/source/swh-search/

Package: python3-swh.search
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Software Heritage search infrastructure
